body {
    background-color: #16062e;
    color: #f502c0;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

button {
    border: none;
}

.button {
    background: none;
    color: #66e6ff;
    border: 2px solid;
}

.button:hover {
    border-color: #fcf403;
    color: white;
}

.button--active {
    border-color: #00fa1d;
    color: white;
}

.button--active:hover {
    border-color: #00fa1d;
    color: white;
}

.status {
    margin-bottom: 10px;
}

.square {
    background-color: #16062e;
    border: 2px solid #fcf403;
    float: left;
    color: #fcf403;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}

.square:focus {
    outline: none;
}

.square.board__left-edge {
    border-left: none;
}

.square.board__top-edge {
    border-top: none;
}

.square.board__bottom-edge {
    border-bottom: none;
}

.square.board__right-edge {
    border-right: none;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}